extends ../main.layout.pug

block variables
    -var title = 'Блядская сборка'

block content 
    h1 Ну заработай ты уже блять склько можно нахуй мозги ебать то уже !!!!!!!!!!!
block scripts 
      script(src='/assets/scripts/index.bundle.js')