futer.futer
  .futer-content
   .logo.logo--futer
    .logo__link.logo__link--futer
       a(href="#").link 
         img(src="./assets/images/icons/Brandi.png", alt="logo").logo__img
   .futer__text eusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
   .futer__text2
     .futer__title Subscribe 
     .futer__btn
       button.fut__btn  
         img.futer__img(src="./assets/images/icons/Shape 5.png", alt="")
     .futer__smalltext eusmod tempor incididunt ut labore et dolore magna aliqua. 
   .futer__list
      .futer__title Explorer
      ul.futer__row
        -
          var text = [
           ['Envato'],
           ['Themecurve'],
           ['Kreativeshowcase'],
           ['Freebiescurve']
           ]
        each item in text
         li.futer__elem #{item[0]}
   
      ul.futer__row
        -
          var text = [
           ['Themeforest'],
           ['Microsoft'],
           ['Google'],
           ['Yahoo']
           ]
        each item in text
         li.futer__elem #{item[0]}
   .futer__PS
     .ps__title Created with by themecurve, exclusive for kreativeshowcase
     .ps__text © 2014 Brandi. All Rights Reserved.