block variables

doctype html
html(lang="ru")
    head
       meta(charser="utf-8")
       meta(content="ie=edge" http-equix="x-ua-compatible")
       meta(content="width=devce-width initial-scale=1" name="viewport" )
       title TrevellGramm | #{title}
       link(rel="stylesheet", href="/assets/styles/main.min.css")
    body
        .wrapper
               .maincontent
                   block content
        block scripts