.contacs__text{
  width: 256px;
  height: 200px;
  margin-right: 50px;
  margin-left: 102px;
}


.contacs__title{
  font-size: 22px;
  font-family: sanssemibold;
  margin-bottom: 45px;
  margin-top: 3%;

}
.contacs__small{
  width: 188px;
  font-size: 13px;
  font-family: sansregular;
}