.features-list{
  display: flex;
  
}

.features-service{
  width: 100%;
  padding-left: 7%;
}

.features-elem{
  margin-right: 9%;
}


.elem-img{
  border: 1px solid #0eb493;
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: relative;
  right: 17%;
  bottom: 7%;
}

.img__features{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}


.elem-text{
  width: 286px;
  height: 70px;
  font-size: 13px;
  font-family: sansregular;
}
.elem-title{
  height: 3px;
  font-size: 20px;
  font-family: sanssemibold;
}