.hero{
  background: url('../images/bg-header.jpg')center center /cover no-repeat;
}
.images{
  overflow: visible;
}

.facts{
  background: url('../images/fon2.jpg')center center /cover no-repeat;
  min-height: 325px;
}


