.social-hero{
  width: 180px;
  position: absolute;
  bottom: 10%;
  right: 44%;
}






.social__list{
  display: flex;
  justify-content: space-between;
}

.social-img{
  fill: #566f69;
  width: 30px;
  height: 30px;
  transition: 0.5s;
  &:hover {
    fill: #ffff;
  }
}