.title-bandi{
  position: relative;
  bottom: 12%;
  width: 196px;
  text-align: center;
  &::after{
    content: "";
    position: absolute;
    width: 90px;
    height: 1px;
    background: #dce1e5;
    left: 59%;
    top: 78%
  }
  &:before{
    content: "";
    position: absolute;
    width: 90px;
    height: 1px;
    background: #dce1e5;
    right: 59%;
    top: 78%
  }
}




.title-text{
  font-size: 28px;
  color: #0eb493;
  text-transform: uppercase;
  font-family: MyriadPro;
}


.title-img{
  position: relative;
  left: 1%;;

}



&::after{
  content: "";
  position: relative;
  width: 90px;
  height: 1px;
  background: #dce1e5;
}


.title-bandi--team{
bottom: 0;
left: 41%;
top: 10%;
}


.title-bandi--facts{
bottom: 0;
left: 41%;
top: 10%;
width: 250px;
}


.title-bandi--contacs{
  bottom: 0;
  left: 39%;
  top: 5%
}